<!-- bootstrap-datetimepicker -->
<link href="../bower_components/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<!-- bootstrap-datetimepicker -->
<script type="text/javascript" src="../bower_components/bootstrap-datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../bower_components/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
	$('#dataTables-example').DataTable({
		responsive: true
	});
});
</script>
<div ng-include src="'tpl/navbar.html'"></div>
<div ng-include src="'tpl/sidebar.html'"></div>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{qinfo}}DataTables Advanced Tables
				</div>
				{{error}}
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>订单号</th>
									<th>网点</th>
									<th>人名</th>
									<th>订单总额</th>
									<th>实收总额</th>
									<th>下单日期</th>
									<th>签收日期</th>
									<th>现金支付</th>
									<th>支付宝支付</th>
									<th>微信支付</th>
									<th>红包支付</th>
									<th>代金券</th>
									<th>收送方式</th>
									<th>纸质代金券</th>
									<th>质疑</th>
									<th>确认</th>
									<th>财务确认</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="o in orderInfo track by $index">
									<td>{{o.showid}}</td>
									<td>{{o.stationname}}</td>
									<td>{{o.nickname}}</td>
									<td>{{o.disprice}}</td>
									<td>{{o.realprice}}</td>
									<td name="ctime">{{o.createdatetime}}</td>
									<td>{{o.donedatetime}}</td>
									<td>{{o.cash}}</td>
									<td>{{o.alipay}}</td>
									<td>{{o.wxpay}}</td>
									<td>{{o.redpacket}}</td>
									<td>{{o.coupon}}</td>
									<td>{{o.carry}}</td>
									<td>
										<div ng-if="o.pcoupon!=0">{{o.pcoupon}}</div>
										<!-- Button trigger modal -->
										<div ng-if="o.pcoupon==0">
											<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#paper{{o.showid}}" ng-if="!pcoupon">录入</button>
											<div ng-if="pcoupon">{{pcoupon}}</div>
										</div>
										<!-- Modal -->
										<div class="modal fade" id="paper{{o.showid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title" id="myModalLabel">纸质代金券录入</h4>
													</div>
													<div class="modal-body">
														<div class="form-group">
															<input type="hidden" name="orderid" value="{{o.id}}">
															<input type="hidden" name="orderdatetime" value="{{o.donedatetime}}">
															<label for="disabledSelect">订单号</label>
															<input class="form-control" id="disabledInput" type="text" placeholder="{{o.showid}}" disabled="">
														</div>
														<div class="form-group">
															<label>代金券起始时间</label>
															<div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
																<input class="form-control" size="16" type="text" readonly name="startvaltime" ng-click="datetimepicker()">
																<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
																<span class="input-group-addon" ng-click="datetimepicker()"><span class="glyphicon glyphicon-calendar"></span></span>
															</div>
														</div>
														<div class="form-group">
															<label>代金券结束时间</label>
															<div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
																<input class="form-control" size="16" type="text" readonly name="endvaltime" ng-click="datetimepicker()">
																<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
																<span class="input-group-addon" ng-click="datetimepicker()"><span class="glyphicon glyphicon-calendar"></span></span>
															</div>
														</div>
														<div class="form-group">
															<label>代金券金额</label>
															<input class="form-control" placeholder="输入代金券金额" name="amount" type="number">
														</div>
														<div class="form-group">
															<label>代金券抵用金额</label>
															<input class="form-control" placeholder="输入代金券抵用金额" name="realamount" type="number">
														</div>
														
														<div class="form-group">
															<label>操作人员</label>
															<input class="form-control" id="disabledInput" type="text" placeholder="{{uname}}" disabled="" name="operater">
														</div>
													</div>
													<div class="modal-footer">
														<div class="alert alert-{{notify}}" ng-show="pinfo">{{pinfo}}</div>
														<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
														<span ng-if="!o.confirmself && csuccess!=$index">
															<button type="button" class="btn btn-primary" ng-click="paperSubmit($index)">提交</button>
														</span>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
									</td>
									<td>
										<button class="btn btn-danger btn-sm" ng-click="probleminfo(o.id)" ng-if="o.problem != 0 && addnum!=$index">{{o.problem}}</button>
										<button class="btn btn-info btn-sm" ng-click="probleminfo(o.id)" ng-if="o.problem == 0 && o.problemself == 0 && addnum!=$index">{{o.problem}}</button>
										<button class="btn btn-success btn-sm" ng-click="probleminfo(o.id)" ng-if="o.problemself != 0 || addnum==$index">{{add(o.problemself,addnum)}}</button>
										<!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#check{{o.showid}}">{{o.problem}}</button> -->
										<div ng-if="infosbt">{{infosbt}}</div>
										<!-- <div ng-if="!infosbt">
												<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirm{{o.showid}}" ng-if="!infosbt">操作</button>
										</div> -->
										<!-- Modal -->
										<div class="modal fade" id="problem{{o.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title" id="myModalLabel">订单问题询问</h4>
													</div>
													<div class="modal-body">
														<div class="form-group">
															<input type="hidden" name="porderid" value="{{o.id}}">
															<input type="hidden" name="porderdatetime" value="{{o.donedatetime}}">
															<label for="disabledSelect">订单号</label>
															<input class="form-control" id="disabledInput" type="text" placeholder="{{o.showid}}" disabled="">
														</div>
														<div class="form-group">
															<p class="text-info" ng-repeat="p in problemList"><span>{{p.nickname}}（{{p.role}}）：</span>{{p.problem_mark}}<span style="float:right">{{p.create_datetime}}</span></p>
														</div>
														<div class="form-group">
															<label for="disabledSelect">详细说明</label>
															<textarea class="form-control" rows="4" name="problemDescribe"></textarea>
														</div>
														<div class="form-group">
															<label>操作人员</label>
															<input class="form-control" id="disabledInput" type="text" placeholder="{{uname}}" disabled="" name="operater">
														</div>
													</div>
													<div class="modal-footer">
														<div class="alert alert-{{notify}}" ng-show="qinfo">{{qinfo}}</div>
														<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
														<span ng-if="!o.confirmself">
														<button type="button" class="btn btn-primary" ng-click="problemSubmit($index)">提交</button>
														</span>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
									</td>
									<td>
										<div ng-if="o.confirmself">
											已确认
										</div>
										<div ng-if="!o.confirmself">
											<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirm{{o.id}}" ng-if="csuccess!=$index">未确认</button>
											<div ng-if="csuccess==$index" class="btn-success btn-sm">已确认</div>
										</div>
										<!-- Modal -->
										<div class="modal fade" id="confirm{{o.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title" id="myModalLabel">订单确认</h4>
													</div>
													<div class="modal-body">
														<div class="form-group">
															<input type="hidden" name="corderid" value="{{o.id}}">
															<input type="hidden" name="corderdatetime" value="{{o.donedatetime}}">
															<label for="disabledSelect">订单号</label>
															<input class="form-control" id="disabledInput" type="text" placeholder="{{o.showid}}" disabled="">
														</div>
														<div class="form-group">
															<label for="disabledSelect">备注</label>
															<textarea class="form-control" rows="4" name="confirmDescribe"></textarea>
														</div>
														<div class="form-group">
															<label>操作人员</label>
															<input class="form-control" id="disabledInput" type="text" placeholder="{{uname}}" disabled="" name="operater">
														</div>
													</div>
													<div class="modal-footer">
														<div class="alert alert-{{notify}}" ng-show="cinfo">{{cinfo}}</div>
														<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
														<button type="button" class="btn btn-primary" ng-click="confirmSubmit($index)">提交</button>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
									</td>
									<td>
										<div ng-if="!confirm">未确认</div>
										<div ng-if="confirm">已确认</div>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>