<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">泰笛管理后台——{{uname}}（
        <span ng-if="mlist.stationName">{{mlist.stationName}}</span>
        <span ng-if="!mlist.stationName">{{mlist.cityName}}</span>
        ）</div>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="divider"></li>
        <li><a href="#/login.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
    </li>
</ul>
<!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
</nav>